[user]
  name = Chris Scheller
  email = schelcj@pobox.com
[alias]
  unstage = reset HEAD
  stat = status
  ci = commit
  co = checkout
  br = branch
  up = pull
[color]
  diff = auto
[push]
  default = matching
[core]
  excludesfile = /home/schelcj/.gitignore_global
	editor = vim
