i3/.i3/config
i3/.i3/logfile
mc/.config/mc/panels.ini
mc/.config/mc/hotlist.bak
wallpapers/.wallpapers/category
wallpapers/.wallpapers/current
wallpapers/.wallpapers/history
wallpapers/.wallpapers/previous
wallpapers/.wallpapers/wallpaper.pid
wallpapers/.wallpapers/lock
