[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "vim/.vim/bundle/vimoutliner"]
	path = vim/.vim/bundle/vimoutliner
	url = git@github.com:vimoutliner/vimoutliner.git
[submodule "vim/.vim/bundle/addon-mw-utils"]
	path = vim/.vim/bundle/addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/bundle/bufexplorer"]
	path = vim/.vim/bundle/bufexplorer
	url = git@github.com:corntrace/bufexplorer.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/dpaste"]
	path = vim/.vim/bundle/dpaste
	url = git@github.com:vim-scripts/Dpaste.com-Plugin.git
[submodule "vim/.vim/bundle/evervim"]
	path = vim/.vim/bundle/evervim
	url = git@github.com:kakkyz81/evervim.git
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/geeknote"]
	path = vim/.vim/bundle/geeknote
	url = git@github.com:neilagabriel/vim-geeknote.git
[submodule "vim/.vim/bundle/git"]
	path = vim/.vim/bundle/git
	url = git@github.com:tpope/vim-git.git
[submodule "vim/.vim/bundle/gnupg"]
	path = vim/.vim/bundle/gnupg
	url = git@github.com:vim-scripts/gnupg.vim.git
[submodule "vim/.vim/bundle/go"]
	path = vim/.vim/bundle/go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/.vim/bundle/markdown"]
	path = vim/.vim/bundle/markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/snipmate"]
	path = vim/.vim/bundle/snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/.vim/bundle/taglist"]
	path = vim/.vim/bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "vim/.vim/bundle/tlib"]
	path = vim/.vim/bundle/tlib
	url = git@github.com:tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/vcscommand"]
	path = vim/.vim/bundle/vcscommand
	url = git@github.com:vim-scripts/vcscommand.vim.git
[submodule "vim/.vim/bundle/vim-perl"]
	path = vim/.vim/bundle/vim-perl
	url = git@github.com:vim-perl/vim-perl.git
[submodule "vim/.vim/bundle/auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim/.vim/bundle/snippets"]
	path = vim/.vim/bundle/snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim/.vim/bundle/vim-pad"]
	path = vim/.vim/bundle/vim-pad
	url = git@github.com:vim-scripts/vim-pad.git
[submodule "vim/.vim/bundle/vim-orgmode"]
	path = vim/.vim/bundle/vim-orgmode
	url = git@github.com:jceb/vim-orgmode.git
[submodule "vim/.vim/bundle/vim-speeddating"]
	path = vim/.vim/bundle/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
